{% extends "layout.html" %}

{% block main %}

	<main role="main" class="inner cover">
		<p class="lead">
			I <a href="https://www.dictionary.com/browse/built?s=t" class="verbs verbStyle" target="_blank">built</a> this app 
			so that I could take a <a href="https://www.dictionary.com/browse/job?s=t" class="nouns nounStyle" target="_blank">job</a> application and <a href="https://www.dictionary.com/browse/quickly?s=t" class="adverbs adverbStyle" target="_blank">quickly</a> see if I had been using the most <a href="https://www.dictionary.com/browse/effective?s=t" class="adjectives adjectiveStyle" target="_blank">effective</a> words.
		</p>

	</main>

  

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}