{% extends "layout.html" %}

{% block main %}

<main role="main" class="inner cover">
	<div class="intro-cover">
		<h1 class="cover-heading">Job application + AI = Success.</h1>
		<p class="lead">
			Help Me Apply lets you know how well your application matches what a job advert is looking for.
		</p>
		<form id="jobDescForm" action="/start" method="POST" >
			<div class="input-group mb-3">
				<textarea type="text" rows="3" class="form-control" id="url" name="url" placeholder="Paste the job description text (faster and more accurate) or the link to the page you found it (slower and less accurate)..." required></textarea>
			</div>
			<button type="submit" class="btn btn-outline-light btn-block">Go</button>
			<br />
			<a class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">Help</a>
		</form>
	</div>

	<img id="loadingImg" src="{{url_for('static', filename='img/loading.gif')}}" style="display: none;" />

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title-dark" id="exampleModalLongTitle">Help</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body text-left">
				<p>
					To begin you can either paste in the text of the job description you have found on a website... 
					or you can paste in the link of the page you found it.
				</p>
				<p>
					Pasting in the text will perform much quicker and will produce more accurate results.
				</p>
				<p>
					This is because it will not need to send a request to the web page to get the HTML. It also means that no unnecessary text 
					will be included.
				</p>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Got it!</button>
			</div>
		</div>
		</div>
	</div>

  </main>


  

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script>
		$('#jobDescForm').submit(function() {
			$('.intro-cover').hide();
			$('#loadingImg').show();
		});
	</script>
{% endblock %}