{% extends "layout.html" %}

{% block main %}

	<main role="main" class="inner cover">
		<div class="container">
			<div class="row">
			  <div class="col-sm">
				One of 2 columns
			  </div>
			  <div class="col-sm">
				One of 2 columns
			  </div>
			</div>
		  </div>
	</main>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}