{% extends "layout.html" %}

{% block main %}

	<main role="main" class="inner cover">
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<nav class="nav nav-pills nav-justified" style="margin-bottom: 20px">
						<a id='verbsBtn' class="nav-link sub-nav active" href="#">Verbs</a>
						<a id='adverbsBtn' class="nav-link sub-nav" href="#">Adverbs</a>
						<a id='adjBtn' class="nav-link sub-nav" href="#">Adjectives</a>
						<a id='nounsBtn' class="nav-link sub-nav" href="#">Nouns</a>
					</nav>
					<div id="verbsDiv">
						<table id="verbsTable" class="table table-dark">
							<thead>
								<tr>
									<th>Words</th>
								</tr>
							</thead>
							<tbody>
								{% for word in verbs %}
								<tr>
									<td>{{ word }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="adverbsDiv" style="display: none">
						<table id="adverbsTable" class="table table-dark">
							<thead>
								<tr>
									<th>Words</th>
								</tr>
							</thead>
							<tbody>
								{% for word in adverbs %}
								<tr>
									<td>{{ word }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="adjDiv" style="display: none">
						<table id="adjTable" class="table table-dark">
							<thead>
								<tr>
									<th>Words</th>
								</tr>
							</thead>
							<tbody>
								{% for word in adjectives %}
								<tr>
									<td>{{ word }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="nounsDiv" style="display: none">
						<table id="nounsTable" class="table table-dark">
							<thead>
								<tr>
									<th>Words</th>
								</tr>
							</thead>
							<tbody>
								{% for word in nouns %}
								<tr>
									<td>{{ word }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			  <div class="col-sm">
				<nav class="nav nav-pills nav-justified" style="margin-bottom: 20px">
					<a id="jobDescBtn" class="nav-link sub-nav active" href="#" data-toggle="tooltip" title="The job description text that was scanned.">Scanned Text</a>
					<a id="applicationBtn" class="nav-link sub-nav" href="#">Enter Application</a>
					<a id="applicationScore" class="nav-link sub-nav active" data-toggle="tooltip" title="">56%</a>
				</nav>  
				<div id="applicationPasteArea" class="form-group" style="display:none">
					<textarea class="form-control" id="answerTextArea" rows="20" placeholder="Paste in your application"></textarea>
					<br />
					<button id="submitApplication" class="btn btn-outline-light btn-block">Check it!</button>
				</div>
				<div id="jobDescription" class="overflow-auto" style="height: 540px; overflow-y: scroll;">
					...
				</div>
				<div id="resultArea" class="overflow-auto" style="height: 540px; overflow-y: scroll; display: none">
					...
				</div>
			  </div>
			  <textarea id="inputText" hidden>
				{{ input_text }}
			  </textarea>
			</div>
		  </div>
	</main>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script>

		// create DataTable elements
		$('#verbsTable').DataTable();
		$('#adverbsTable').DataTable();
		$('#adjTable').DataTable();
		$('#nounsTable').DataTable();

		// function to hide all table divs
		hideAllTables = () => {
			let tables = ['#verbsDiv', '#adverbsDiv', '#adjDiv', '#nounsDiv'];
			for (let i = 0; i < tables.length; i++) {
				$(tables[i]).css('display', 'none')
			}
		}

		// function to remove active class 
		unactiveAllBtnsLeft = () => {
			let leftBtns = ['#verbsBtn' ,'#adverbsBtn', '#nounsBtn', '#adjBtn'];
			for (let i = 0; i < leftBtns.length; i++) {
				$(leftBtns[i]).removeClass('active');
			}
		}

		// function to remove active class
		unactiveAllBtnsRight = () => {
			let rightBtns = ['#jobDescBtn' ,'#applicationBtn'];
			for (let i = 0; i < rightBtns.length; i++) {
				$(rightBtns[i]).removeClass('active');
			}
		}

		// function to remove all grammar highlights
		removeGrammarHighlights = () => {
			let grammarClasses = ['.verbs', '.adverbs', '.adjectives', '.nouns'];
			let styleClasses = ['verbStyle', 'adverbStyle', 'adjectiveStyle', 'nounStyle'];
			for (let i = 0; i < grammarClasses.length; i++) {
				$(grammarClasses[i]).removeClass(String(styleClasses[i]));
			}
		}

		// all button logic

		// view verbs
		$('#verbsBtn').click(function() {
			hideAllTables();
			unactiveAllBtnsLeft();
			$(this).addClass('active');
			$('#verbsDiv').css('display', 'block');

			removeGrammarHighlights();
			$('.verbs').addClass('verbStyle');
		})

		// view adjectives
		$('#adjBtn').click(function() {
			hideAllTables();
			unactiveAllBtnsLeft();
			$(this).addClass('active');
			$('#adjDiv').css('display', 'block');

			removeGrammarHighlights();
			$('.adjectives').addClass('adjectiveStyle');
		});

		// view nouns
		$('#nounsBtn').click(function() {
			hideAllTables();
			unactiveAllBtnsLeft();
			$(this).addClass('active');
			$('#nounsDiv').css('display', 'block');

			removeGrammarHighlights();
			$('.nouns').addClass('nounStyle');
		})

		// view adverbs
		$('#adverbsBtn').click(function() {
			hideAllTables();
			unactiveAllBtnsLeft();
			$(this).addClass('active');
			$('#adverbsDiv').css('display', 'block');

			removeGrammarHighlights();
			$('.adverbs').addClass('adverbStyle');
		})

		// enter your application
		$('#applicationBtn').click(function() {
			unactiveAllBtnsRight();
			$(this).addClass('active');
			$('#resultArea').css('display', 'none');
			$('#jobDescription').css('display', 'none');
			$('#applicationPasteArea').css('display', 'block');
		});

		// view scanned job description
		$('#jobDescBtn').click(function() {
			unactiveAllBtnsRight();
			$(this).addClass('active');
			$('#applicationPasteArea').css('display', 'none');
			$('#jobDescription').css('display', 'block');
			$('#resultArea').css('display', 'none');
		});

		// word matching arrays
		var verbs = [ {% for word in verbs %}'{{ word }}',{% endfor %}];
		var adverbs = [ {% for word in adverbs %}'{{ word }}',{% endfor %}];
		var adjectives = [ {% for word in adjectives %}'{{ word }}',{% endfor %}];
		var nouns = [ {% for word in nouns %}'{{ word }}',{% endfor %}];
		var allWordsCount = verbs.length + adverbs.length + adjectives.length + nouns.length;

		// replace new lines and split by spaces
		var input_text = $('#inputText').text().replace( /\n/g, " " ).split(' ');
		
		var jobDesc = "";
		for (let i = 0; i < input_text.length; i++) {
			let word_lower_case = input_text[i].toLowerCase();
			if (verbs.includes(word_lower_case)) {
				jobDesc += '<a href="https://www.dictionary.com/browse/' + input_text[i] + '?s=t" class="verbs verbStyle" target="_blank">' + input_text[i] + '</a>' + ' ';
			} else if (adverbs.includes(word_lower_case)) {
				jobDesc += '<a href="https://www.dictionary.com/browse/' + input_text[i] + '?s=t" class="adverbs adverbStyle" target="_blank">' + input_text[i] + '</a>' + ' ';
			} else if (adjectives.includes(word_lower_case)) {
				jobDesc += '<a href="https://www.dictionary.com/browse/' + input_text[i] + '?s=t" class="adjectives adjectiveStyle" target="_blank">' + input_text[i] + '</a>' + ' ';
			} else if (nouns.includes(word_lower_case)) {
				jobDesc += '<a href="https://www.dictionary.com/browse/' + input_text[i] + '?s=t" class="nouns nounStyle" target="_blank">' + input_text[i] + '</a>' + ' ';
			} else {
				jobDesc += input_text[i] + ' ';
			}
		}
		// insert into job description div and show
		$('#jobDescription').html(jobDesc);

		// enter and highlight submitted text into div on click
		$('#submitApplication').click(function() {

			// get contents 
			var contents = $('#answerTextArea').val();
			var words = contents.replace( /\n/g, " " ).split(' ');

			// generate set in order to count how many words were used from job advert
			var usedWords = new Set();

			// generate html including formatted span elements
			var myString = "";
			for (let i = 0; i < words.length; i++) {
				let word_lower_case = words[i].toLowerCase();
				if (verbs.includes(word_lower_case)) {
					myString += '<a href="https://www.dictionary.com/browse/' + words[i] + '?s=t" class="verbs verbStyle" target="_blank">' + words[i] + '</a>' + ' ';
					usedWords.add(words[i]);
				} else if (adverbs.includes(word_lower_case)) {
					myString += '<a href="https://www.dictionary.com/browse/' + words[i] + '?s=t" class="adverbs adverbStyle" target="_blank">' + words[i] + '</a>' + ' ';
					usedWords.add(words[i]);
				} else if (adjectives.includes(word_lower_case)) {
					myString += '<a href="https://www.dictionary.com/browse/' + words[i] + '?s=t" class="adjectives adjectiveStyle" target="_blank">' + words[i] + '</a>' + ' ';
					usedWords.add(words[i]);
				} else if (nouns.includes(word_lower_case)) {
					myString += '<a href="https://www.dictionary.com/browse/' + words[i] + '?s=t" class="nouns nounStyle" target="_blank">' + words[i] + '</a>' + ' ';
					usedWords.add(words[i]);
				} else {
					myString += words[i] + ' ';
				}
			}

			// perform count of used words
			var count = 0;
			usedWords.forEach(function(word) {
				let word_lower_case = word.toLowerCase();
				if (verbs.includes(word_lower_case) || adjectives.includes(word_lower_case) || adverbs.includes(word_lower_case) || nouns.includes(word_lower_case)) {
					count += 1;
				}
			});
			
			// enter percentage score as used words / total identified words
			let score = ((count / allWordsCount) * 100).toFixed(0);
			console.log("Total identified words from job description = " + allWordsCount)
			console.log("Total words matched from submitted application = " + count)
			console.log("Final score output (%) = " + score);

			// insert score into html element formatted as red,amber,green
			if (score > 50) {
				$('#applicationScore').html('Score: ' + score + '%').css('background-color', '#218838').attr('data-original-title', 'Well done! You used over 50% of the words identified from the job posting.').show();
			} else if (score < 50 && score > 25 ) {
				$('#applicationScore').html('Score: ' + score + '%').css('background-color', '#FFC107').attr('data-original-title', 'Great start! You used over 25% of the words identified from the job posting. Try to add even more!').show();
			} else {
				$('#applicationScore').html('Score: ' + score + '%').css('background-color', '#C82333').attr('data-original-title', 'You used less than 25% of the words identified from the job posting. You should review the keywords and add more!').show();
			}

			// insert string into div and show
			$('#resultArea').html(myString).css('display', 'block');
			$('#goBack').css('display', 'block');

			// hide the text area
			$('#applicationPasteArea').css('display', 'none');
		});

		// click score to show breakdown

		removeGrammarHighlights();
		$('.verbs').addClass('verbStyle');

	</script>

{% endblock %}